<table>
 <tr>
    <th>Name</th>
    <th>Color</th>
    <th>BirthDate</th>
       <th>Sex</th>
  </tr>
 <tr>
    <td> <%=@Cat.name %> </td>
     <td><%=@Cat.color%> </td>
      <td> <%=@Cat.sex%> </td>
       <td> <%=@Cat.birth_date%> </td>
   
  </tr>


</table>