// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
.index-header {
  width: 100%;
  background-color: #000066;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  color: yellow;
}
h1 {
  font-size: 10vh;
  color: yellow;
}
a {
  color: yellow;
}
nav a {
  padding: 0px 10px;
}
.navbar {
  background-color: #000066;
  top: 0;
  margin-top: 0;
  margin-bottom: 2em;
  height: 2em;
  color: yellow;
  font-size: 2.5em;
  a {
    &:hover {
      cursor: pointer;
    }
  }
  .left-span {
    float: left;
  }
  .right-span {
    float: right;
  }
}
.default-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blue;
  .container {
    padding: 1em;
    margin: 4vh;

    background: yellow;
    color: blue;
    text-align: center;
  }
}
.description {
  background: #1e9999;
}

@media screen and (max-width: 600px) {
  .default-cont {
    flex-direction: column;
    .index-header {
      font-size: 1.5em;
    }
    .container {
      padding: 1em;
      margin: 2vh;

      background: yellow;
      color: blue;
    }
  }
}
